*{
	margin: 0.5px;
}
	@font-face{
    font-family: Lobster;
    src: url("Lobster.ttf");
	font-family: FredokaOne ;
	src: url("FredokaOne.ttf") ; 
	}

	body{
		background-color: #F4F4F4;
	}

	/*Estilos para el encabezado*/
	.navbar{
		background-image: url("imagenes/fondo.png") ;
		background-repeat:no-repeat ;
	}
	.navbar-brand{
		color: #F4F4F4 ;
		font-family: Lobster ;
		font-size:xx-large ;
	}
	.nav-link{
		color:#F4F4F4 ;
		font-size:x-large ;
		font-family:sans-serif ;
	}
	.navbar-link:hover{
		transform: translateY(-3px) scale(1.05) ;
	}
	.color{
		font-family: Lobster ;
		color: #EC471B ; 
	}
	a{
		font-family: Lobster ;
		color: #A07E35 ;
		font-size:xx-large ;
	}
	.carousel{
	z-index: -1;
	margin: 2% auto;
	padding: 2em; 
	}
	.imagen img{
		margin-left: 30px;
		margin-bottom: 20px;
		width: 95%;
	}
	h2{
		text-align: right; 
	}
/*FOOTER*/
.pie-pagina{
	width: 100%;
	height: 10%;
	background-color: black;	

}
.pie-pagina .grupo-1{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
	justify-content: center;
}
.pie-pagina .grupo-1 .box figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
	width: 30%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}
.pie-pagina .grupo-1 .box h2{
	color: #fff;
	margin-bottom: 25px;
	font-size: 20px;
	text-align: center;
}
.pie-pagina .grupo-1 .box p{
	color: #fff;
	margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social{
	display: flex;
	justify-content: center;
	align-items: center;

}
.pie-pagina .grupo-1 .red-social a{
	display: inline-block;
	text-decoration: none;
	width: 45px;
	height: 45px;
	font-size: 50px; 
	line-height: 45px;
	color: #fff;
	margin-right: 10px;
	background-color:black;
	text-align: center;
	transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
	transform: translateY(-3px) scale(1.05) ;
}
.pie-pagina .grupo-1 .red-social .fa-facebook:hover{
	color: #3b5999 ;
}
.pie-pagina .grupo-1 .red-social .fa-instagram:hover{
	color: #e4405f ;
}
.pie-pagina .grupo-1 .red-social .fa-whatsapp:hover{
	color: #0DC234;
}
.pie-pagina .grupo-2 small{
	font-size: 15px;
	color: #fff;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 800px) {
	.pie-pagina .grupo-1{
		width: 90%;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 30px;
		padding: 35px 0px;
	}
}


/*pagina 2*/
	h1{
		margin-top: 5% ;
		text-align: center;
		}
	.col{
		Margin: 5% auto;
		width: 35% ;
		height: 60% ;
	}
	.imagen-tabla{
		margin-left: 30%;
		margin-bottom: 10%;
	}
	p{
		text-align: center;
		padding-top:5px; 
	}
	/*pagina 3*/
	.img{
		margin-top: 5% ;
		margin-left: 25% ;
		margin-bottom: 5% ; 
	}
	.col-{
		margin: 2% auto ; 
		width: 35% ;
		height: 60% ;
	}